<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>
        Webtap 登录
    </title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" th:href="@{/vendor/vendors.bundle.css}"></link>
    <link rel="stylesheet" th:href="@{/vendor/style.bundle.css}"></link>


 </head>
  <body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">

  <!-- begin:: Page -->
  <div class="m-grid m-grid--hor m-grid--root m-page">
      <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--singin m-login--2 m-login-2--skin-2" id="m_login" style="background-image: url(img/bg-3.jpg);">
          <div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
              <div class="m-login__container"  >
                  <div class="m-login__logo">
                      <a href="#">
                          Webtap
                      </a>
                  </div>
                  <div id="errorMsg" class="alert alert-danger text-center" style="display:none;"></div>
                  <div class="m-login__signin" id="loginPage">
                      <div class="m-login__head">
                          <h3 class="m-login__title">
                              登录Webtap
                          </h3>
                      </div>
                      <form class="m-login__form m-form"    id="form" data-parsley-validate="true" onsubmit="return false">
                          <div class="form-group m-form__group">
                              <input class="form-control m-input"   type="text" placeholder="邮箱或者登录名" v-model="username" autocomplete="off" />
                          </div>
                          <div class="form-group m-form__group">
                              <input class="form-control m-input m-login__form-input--last" type="password" v-model="password" placeholder="密码" />
                          </div>
                          <div class="row m-login__form-sub">
                              <div class="col m--align-right m-login__form-right">
                                  <a href="javascript:;" id="m_login_forget_password" class="m-link">
                                      忘记密码 ?
                                  </a>
                              </div>
                          </div>
                          <div class="m-login__form-action">
                              <button id="m_login_signin_submit" v-on:click="login"  class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">
                                 登录
                              </button>
                          </div>
                      </form>
                  </div>
                  <div class="m-login__signup" id="registPage">
                      <div class="m-login__head">
                          <h3 class="m-login__title">
                              注册
                          </h3>
                          <div class="m-login__desc">
                              请输入个人注册信息:
                          </div>
                      </div>
                      <form class="m-login__form m-form" action="">
                          <div class="form-group m-form__group">
                              <input class="form-control m-input" type="text" v-model="userName" placeholder="用户名" name="fullname" >
                          </div>
                          <div class="form-group m-form__group">
                              <input class="form-control m-input" type="text" v-model="email" placeholder="邮箱" name="email" autocomplete="off">
                          </div>
                          <div class="form-group m-form__group">
                              <input class="form-control m-input" type="password"  v-model="password"  placeholder="密码" name="password">
                          </div>
                          <div class="row form-group m-form__group m-login__form-sub">
                              <div class="col m--align-left">
                                  <label class="m-checkbox m-checkbox--focus">
                                      <input type="checkbox" name="agree">
                                      同意
                                      <a href="#" class="m-link m-link--focus">
                                          免责声明
                                      </a>
                                      .
                                      <span></span>
                                  </label>
                                  <span class="m-form__help"></span>
                              </div>
                          </div>
                          <div class="m-login__form-action">
                              <button id="m_login_signup_submit"  v-on:click="regist" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn">
                                  注册
                              </button>
                              &nbsp;&nbsp;
                              <button id="m_login_signup_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom  m-login__btn">
                                  取消
                              </button>
                          </div>
                      </form>
                  </div>
                  <div class="m-login__forget-password">
                      <div class="m-login__head">
                          <h3 class="m-login__title">
                              忘记密码 ?
                          </h3>
                          <div class="m-login__desc">
                              请输入注册邮箱:
                          </div>
                      </div>
                      <form class="m-login__form m-form" action="">
                          <div class="form-group m-form__group">
                              <input class="form-control m-input" type="text" placeholder="Email" name="email"  v-model="email"  id="m_email" autocomplete="off">
                          </div>
                          <div class="m-login__form-action">
                              <button id="m_login_forget_password_submit" onclick="sendEmail();" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m-login__btn--primaryr">
                                  发送重置邮件
                              </button>
                              &nbsp;&nbsp;
                              <button id="m_login_forget_password_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom m-login__btn">
                                  取消
                              </button>
                          </div>
                      </form>
                  </div>

                  <div class="m-login__account">
							<span class="m-login__account-msg">
								没有账号 ?
							</span>
                      &nbsp;&nbsp;
                      <a href="javascript:;" id="m_login_signup" class="m-link m-link--light m-login__account-link">
                          注册
                      </a>
                  </div>


              </div>
          </div>
      </div>
  </div>
  <!-- end:: Page -->
  <script th:src="@{/vendor/vendors.bundle.js}"></script>
  <script th:src="@{/vendor/scripts.bundle.js}"></script>
  <script th:src="@{/vendor/login.js}"></script>
  <!--end::Base Scripts -->
  </body>
   <script type="text/javascript" src="/webjarslocator/jquery/jquery.min.js"></script>
   <script type="text/javascript" src="/webjarslocator/vue/vue.min.js"></script>

   <script th:src="@{/webjars/vue-resource/0.7.0/dist/vue-resource.min.js}"></script>
   <script th:src="@{/vendor/parsleyjs/dist/parsley.min.js}"></script>
   <script type='text/javascript'>
    Vue.http.options.emulateJSON = true;
        var loginPage = new Vue({
            el: '#loginPage',
            data: {
                'username': '',
                'password': ''
            },
            methods: {
            	login: function(event){
            		var ok = $('#form').parsley().isValid({force: true});
            		if(!ok){
            			return;
            		}
            		var datas={
            				 userName: this.username,
            				 passWord: this.password
	            			 };
            	    this.$http.post('/user/login',datas).then(function(response){
            	    	 if(response.data.rspCode == '000000'){
            	    			 window.open(response.data.data, '_self');
            	    	 }else{
            	    		  $("#errorMsg").html(response.data.rspMsg);
            	    		  $("#errorMsg").show();
            	    	 }
                     }, function(response){
                         console.log('error');
                     })
                }
            }
        });

    function sendEmail() {
        var ok = $('#form').parsley().isValid({force: true});
        if(!ok){
            return;
        }
        var url = '/user/sendForgotPasswordEmail';
        $('#sendEmailButton').attr("disabled",true);
        $("#sendEmailButton").text("发送中...");
        $("#errorMsg").hide();
        var _data = {email:$("#m_email").val()};
        $.ajax({
            url : url,
            data : _data,
            type : 'POST',
            dataType : "json",
            error : function(XMLHttpRequest, textStatus, errorThrown) {
            },
            success : function(data, textStatus) {
                if(data.rspCode == '000000'){
                    $('#sendEmailButton').removeAttr("disabled");
                    $("#sendEmailButton").text("再次发送重置邮件");
                    $("#errorMsg").html("重置邮件已发送，请至邮箱查收");
                    $("#errorMsg").show();
                }else{
                    $('#sendEmailButton').removeAttr("disabled");
                    $("#sendEmailButton").text("发送重置邮件");
                    $("#errorMsg").html(data.rspMsg);
                    $("#errorMsg").show();
                }
            }
        });
    }

    </script>
<script type='text/javascript'>
    Vue.http.options.emulateJSON = true;
    var registPage = new Vue({
        el: '#registPage',
        data: {
            'email': '',
            'password': '',
            'userName':''
        },
        methods: {
            regist: function(event){
                var ok = $('#form').parsley().isValid({force: true});
                if(!ok){
                    return;
                }
                var datas={
                    email: this.email,
                    passWord: this.password,
                    userName: this.userName
                };
                this.$http.post('/user/regist',datas).then(function(response){
                    if(response.data.rspCode == '000000'){
                        window.open('/', '_self');
                    }else{
                        $("#errorMsg").html(response.data.rspMsg);
                        $("#errorMsg").show();
                    }
                }, function(response){
                    console.log('error');
                })
            }
        }
    })
</script>

</html>
