<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="admin/layout">

    <div layout:fragment="content" >
        <!-- content-->

        <div class="">
            <div id="app-body"   class="bf-body">
                <form>
                    <div class="bf-content bf-content-boxed">


                        <div class="form-group">
                            <label class="form-group-label">
                                名称:
                            </label>
                            <input type="text" class="form-control" v-model="appdata.title">
                        </div>

                        <div class="form-group">
                            <label class="form-group-label">
                                地址:
                            </label>
                            <input type="text" class="form-control" v-model="appdata.url">
                        </div>

                        <div class="form-group">
                            <label class="form-group-label">
                                描述:
                            </label>
                            <textarea class="form-control" v-model="appdata.description"></textarea>
                        </div>

                        <div class="form-group">
                            <label class="form-group-label">
                                排序:
                            </label>
                            <input type="text" class="form-control" v-model="appdata.sortNum">
                        </div>

                        <div class="form-group">
                            <label class="form-group-label">App Logo</label>
                            <div class="input-group">
                                <input   type="text" id="app-logoUrl" name="app-logoUrl" value="" v-model="appdata.logoUrl" class="form-control"  />
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-secondary btn-upload" onclick="fileManagerController.open(insertAppLogoCallback);"> 选择</button>
                               </span>
                            </div>
                        </div>


                        <button type="button"  v-on:click="save()"  class="btn btn-primary btn-main">保存</button>


                    </div>
                </form>
            </div>
        </div>

        <!-- fragment begin-->
        <div th:replace="admin/fragment/files :: filesFragment"></div>
        <!-- fragment end-->

    </div>



<th:block layout:fragment = "bodyAssets">

    <script>
        Vue.use(window.vuelidate.default)

        const app = new Vue({
            el: '#app-body',
            id:0,
            data: {
                appdata:{
                    categoryId:4,
                    userId:1,
                    orgId:5,
                    createTime:0,
                    lastModifyTime:0,
                    isDelete:0,
                    secContent:""
                }
            },
            methods: {
                load: function () {
                    if(this.id>0){
                        axios.get(webRoot + 'api/app/'+this.id)
                            .then(response => {
                            this.appdata = response.data;
                            }).catch(function (error) { toastr.error(error); });
                    }
                },
                save: function () {
                    debugger;
                   var posturl =webRoot + 'api/apps/save' ;

                   var logoUrl = "";
                   if(this.id>0){
                       logoUrl =  $("#app-logoUrl").val();
                   }else {
                       logoUrl =  webRoot + $("#app-logoUrl").val();
                   }

                   this.appdata.logoUrl = logoUrl;
                   console.log(this.appdata);
                   var app = this.appdata;
                    axios.post(posturl, app)
                        .then(function (response) {
                            console.log(response.data)
                            if(response.data.rspCode!="000000"){
                                toastr.error(response.data.rspCode+" "+response.data.rspMsg);
                            }else {
                                toastr.success(response.data.rspMsg);
                                setTimeout(function () { location.href = webRoot +"admin/app/list"; }, 1000);
                            }
                        })
                        .catch(function (error) {
                            toastr.error(error);
                        });
                }
            },
            beforeMount() {
                if (fromQueryString('id')) {
                    this.id = fromQueryString('id');
                }
                if(this.id>0){
                    this.load();
                }
            }
        })
    </script>


    <script src="/admin/js/app/fileManagerController.js"></script>
</th:block>
