<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="admin/layout">

    <div layout:fragment="content" >
        <!-- content-->

        <div class="">
            <div id="app-body"   class="bf-body">

                <h3 class="page-title">添加应用</h3>

                <form>
                    <div class="bf-content bf-content-boxed">


                        <div class="form-group">
                            <label class="form-group-label">
                                名称:
                            </label>
                            <input type="text" class="form-control" v-model="appdata.title">
                        </div>

                        <div class="form-group">
                            <label class="form-group-label">
                                地址:
                            </label>
                            <input type="text" class="form-control" v-model="appdata.url">
                        </div>

                        <div class="form-group">
                            <label class="form-group-label">
                                分类:
                            </label>
                           <div style="height: 40px">
                               <select class="form-control" style="float:left;width: 90%" v-model="appdata.categoryId">
                                   <option  v-for="cate  in categories" name="cate.name" :value="cate.id" >{{cate.name}}</option>
                               </select>
                               <a id="btn-category" style="float: left;width: 10%" href="#" class="btn btn-sm btn-link">新增 <strong>+</strong></a>
                           </div>
                        </div>

                        <div class="form-group">
                            <label class="form-group-label">
                                描述:
                            </label>
                            <textarea class="form-control" v-model="appdata.description"></textarea>
                        </div>

                        <div class="form-group">
                            <label class="form-group-label">
                                排序:
                            </label>
                            <input type="text" class="form-control" v-model="appdata.sortNum">
                        </div>

                        <div class="form-group">
                            <label class="form-group-label">App Logo</label>
                            <div class="input-group">
                                <input   type="text" id="app-logoUrl" name="app-logoUrl" value="" v-model="appdata.logoUrl" class="form-control"  />
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-secondary btn-upload" onclick="fileManagerController.open(insertAppLogoCallback);"> 选择</button>
                               </span>
                            </div>
                        </div>


                        <button type="button"  v-on:click="save()"  class="btn btn-primary btn-main">保存</button>


                    </div>
                </form>


                <!-- Modal Category -->
                <div class="modal fade" id="modal-category" tabindex="-1" role="dialog" aria-labelledby="notificationsLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="settingsLabel">新增分类</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
                            </div>
                            <div class="modal-body">

                                <div class="form-group">
                                    <label class="form-group-label">
                                        名称:
                                    </label>
                                    <input type="text" class="form-control" v-model="category.name" >
                                </div>

                            </div>

                            <div class="modal-footer d-flex">
                                <button class="btn btn-link btn-sm btn-rounded ml-auto" type="button" data-dismiss="modal">取消</button>
                                <button   class="btn btn-primary btn-sm btn-rounded" type="button" v-on:click="saveCategory()">保存</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- fragment begin-->
        <div th:replace="admin/fragment/files :: filesFragment"></div>
        <!-- fragment end-->

    </div>



<th:block layout:fragment = "bodyAssets">

    <script>
        Vue.use(window.vuelidate.default)

        const app = new Vue({
            el: '#app-body',
            id:0,
            data: {
                category:{},
                categories:{},
                appdata:{
                    categoryId:4,
                    userId:1,
                    orgId:5,
                    createTime:0,
                    lastModifyTime:0,
                    isDelete:0,
                    secContent:""
                }
            },

            methods: {
                load: function () {

                    axios.get(webRoot + 'api/app/categories')
                        .then(response => {
                        this.categories = response.data;
                    }).catch(function (error) { toastr.error(error); });

                    if(this.id>0){
                        axios.get(webRoot + 'api/app/'+this.id)
                            .then(response => {
                            this.appdata = response.data;
                            }).catch(function (error) { toastr.error(error); });
                    }
                },
                save: function () {
                   var posturl =webRoot + 'api/apps/save' ;

                   var logoUrl = "";
                   if(this.id>0){
                       logoUrl =  $("#app-logoUrl").val();
                   }else {
                       logoUrl =  webRoot + $("#app-logoUrl").val();
                   }

                   this.appdata.logoUrl = logoUrl;
                   var app = this.appdata;
                    axios.post(posturl, app)
                        .then(function (response) {
                            if(response.data.rspCode!="000000"){
                                toastr.error(response.data.rspCode+" "+response.data.rspMsg);
                            }else {
                                toastr.success(response.data.rspMsg);
                                setTimeout(function () { location.href = webRoot +"admin/app/list"; }, 1000);
                            }
                        })
                        .catch(function (error) {
                            toastr.error(error);
                        });
                },
                saveCategory:function(){
                    var posturl =webRoot + 'api/category/save' ;
                    var cat = this.category;
                    axios.post(posturl, cat)
                        .then(function (response) {
                            debugger;
                            app.$data.categories.push(response.data);
                            $("#modal-category").modal("hide");
                        })
                        .catch(function (error) {
                            toastr.error(error);
                        });
                }
            },
            beforeMount() {
                if (fromQueryString('id')) {
                    this.id = fromQueryString('id');
                }
                this.load();
            }
        })


        /**
         * add new category
         */
       $("#btn-category").click(function () {
           $("#modal-category").modal();
       });

    </script>


    <script src="/admin/js/app/fileManagerController.js"></script>
</th:block>
