<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="admin/layout">
<head>
    <link href="/vendor/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/vendor/style.bundle.css" rel="stylesheet" type="text/css" />

    <style>
        .kt-user-card-v2__pic img{
            border-radius:50%;
            max-width: 30px;
            max-height: 30px;
        }
    </style>
</head>

<body>
<div class="bf">
    <div layout:fragment="content" >
        <div id="appBody"   class="bf-body">
            <form>
                <div class="m-portlet m-portlet--mobile">

                    <div class="m-portlet__body">
                        <!--begin: Search Form -->
                        <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                            <div class="row align-items-center">
                                <div class="col-xl-8 order-2 order-xl-1">
                                    <div class="form-group m-form__group row align-items-center">
                                        <div class="col-md-4">
                                            <div class="m-input-icon m-input-icon--left">
                                                <input type="text" class="form-control m-input m-input--solid" placeholder="Search..." id="generalSearch">
                                                <span class="m-input-icon__icon m-input-icon__icon--left">
															<span>
																<i class="la la-search"></i>
															</span>
														</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                                    <a class="btn m-btn--pill    btn-primary" href="/admin/app/edit" role="button">
                                        新增
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--end: Search Form -->
                        <!--begin: Datatable -->
                        <table class="m-datatable" id="html_table" width="100%">
                            <thead>
                            <tr>
                                <th title="Field #1"> logo </th>
                                <th title="Field #2"> 名称 </th>
                                <th title="Field #3">地址 </th>
                                <th title="Field #4"> 描述 </th>
                                <th title="Field #5"> 创建时间 </th>
                                <th title="Field #6"> 排序 </th>
                                <th title="Field #7"> 操作  </th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr  v-for="app in appList" :key="app.id" >
                                <td>
                                    <span style="width: 110px;"><div class="kt-user-card-v2">
                                            <div class="kt-user-card-v2__pic">  <img alt="photo" :src="app.logoUrl">  </div>
                                    </div></span>
                                </td>
                                <td> {{app.title}} </td>
                                <td> {{app.url}} </td>
                                <td>{{app.description}}</td>
                                <td> {{app.createTime}}</td>
                                <td>{{app.sortNum}} </td>
                                <td> <a :href="webRoot + 'admin/app/edit?id=' + app.id">编辑</a>  <button @click="remove()">删除</button> </td>
                            </tr>
                            </tbody>
                        </table>
                        <!--end: Datatable -->
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>

<th:block layout:fragment = "bodyAssets">
<script>
    Vue.use(window.vuelidate.default)

    const app = new Vue({
        el: '#appBody',
        data: {
            appList: {}
        },
        methods: {
            load: function () {
                axios.get(webRoot + 'api/apps/utry')
                    .then(response => {
                    this.appList = response.data;
                $('#app').css('display', '');
            }).catch(function (error) { toastr.error(error); });
            },
            remove: function(id){
                alert(id);
                var result = confirm("Please confirm removing this app");
                if (result) {
                    axios.delete(webRoot + 'api/apps/remove/' + id)
                        .then(response => {
                        toastr.success(response.data);
                    setTimeout(function(){ location.load(); }, 1000);
                })
                .catch(function (error) { toastr.error(error); });
                }
                return false;
            }
        },
        beforeMount() {
            this.load()
        }
    })
</script>

<script src="/vendor/vendors.bundle.js" type="text/javascript"></script>
<script src="/vendor/scripts.bundle.js" type="text/javascript"></script>
<script src="/vendor/datatables/base/html-table.js" type="text/javascript"></script>
</th:block>
</body>
</html>
